.select-label {
  display: inline-block;
}
.select-div {
  display: inline-block;
  margin-left: 10px;
}
.btn-start {
  width: 140px;
  height: 140px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 100%;
  text-align: center;
  margin: 100px auto;
  line-height: 140px;
  cursor: pointer;
}
.unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.test {
  text-align: center;
}
.test div {
  margin-top: 10px;
}
